
<div id="main">
<h1>User Records</h1>

<button >Add new</button>
<!-- (click)="openModal('custom-modal-2')" -->
</div>

<table id="users">
    <thead>
    <tr>
        <th *ngFor="let data of headerData">    
            {{data}}
        </th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let emp of data">
            <td>avatar</td>
            <td>{{emp.Name}}</td>
            <td>{{emp.Email}}</td>
            <td>{{emp.Experience}}</td>
            <!-- <a (click)="openDialog('Delete',element)">Delete</a>   -->
            <!-- <td class="tooltip">{{emp.departments.length}}
           <span class="tooltiptext">{{emp.departments}}</span> -->
        <!-- </td> -->
        </tr>

    </tbody>

   
</table>
