table {
    border: 1px solid black;
    width: 100%;
  }
  table.center {
    margin-left: auto; 
    margin-right: auto;
  }
  
  th {
    height: 70px;
  }
  td{
      text-align: center;
  }

  h1 {
    margin: 0;
      display: inline-block;
  }
  button {
    float: right;
    font-size: 16px;
  }